    .jumbotron {
        background-color: lightblue;
        color: black;
        margin-top: 30px;
        margin-bottom: 10px;
        padding-bottom: 40px;
    }
    
    .footer {
        padding: 10px 10px 0px 10px;
        margin: 10px;
    }
    
    .bloque-pie {
        flex: 1 150px;
        padding: 10px;
        background-color: lightskyblue;
        color: blue;
    }
    
    .elem-pie {
        padding: 10px;
        color: blue;
    }
    
    .bloque-descripcion {
        flex: 1 150px;
        padding: 2px 5px 2px 5px;
        margin: 10px;
    }
    
    .imagen-principal {
        width: 100%;
        height: 300px;
    }
    
    .card-hotel {
        flex: 1 200px;
        margin-top: 10px;
    }
    
    .container {
        margin-bottom: 100px;
    }
    
    .tab-content {
        padding-top: 10px;
    }
    
    .btn-reservar {
        width: 100%;
        border-radius: 0%;
    }
    
    .btn-enlace {
        text-decoration: none;
        color: white;
    }